footer {
    color: #fff;
    background-color: #0f0f1f;
    background: linear-gradient(90deg, rgba(16,4,51,1) 0%, rgba(11,3,33,1) 10%, rgba(5,1,14,1) 50%, rgba(17,4,24,1) 90%, rgba(25,7,34,1) 100%);
    min-height: 50px;
    box-shadow: 0 -8px 16px $shadow-color;
}

.profile {
    padding: 1.5em;
}

.profile-info {
    display: flex;
    
    img {
        height: 150px;
        border-radius: 50%;
    }

    .summary {
        padding: 1em;
    }
}

.copyright {
    padding: 0.5em;
    text-align: right;
    
    a {
        -webkit-transition: opacity 0.2s;
        -moz-transition: opacity 0.2s;
        -o-transition: opacity 0.2s;
        transition: opacity 0.2s;
        text-decoration: none;
        opacity: 0.7;
    }
    a:hover {
        opacity: 1;
    }
    img {
        vertical-align: middle;
    }
    .gh {
        height: 20px;
        margin-left: 3px;
        vertical-align: middle;
        margin-top: -4px;
    }
}