$font-family: 'Jost','Open Sans', Arial, sans-serif;
$shadow-color: rgba(0, 0, 0, .6);
$break-small: 720px;
$break-large: 1200px;
$main-text-color: rgb(238, 238, 238);
$comments-background: rgba(91, 51, 101, 0.15);