<footer class="site-footer">
    <div class="content">
        <!--<div class="profile">
            <div class="profile-info">
                <img src="/img/profile.jpg">
                <div class="summary">
                    <h3>Krzysztof Truong</h3>
                    <p>
                        Lorem ipsum
                    </p>
                </div>
            </div>

        </div>-->
        <div class="hosting">
            <p>
                © 2019 Krzysztof Truong | Hosted by
                <a href="https://github.com/{{ site.repository }}">
                    <img class="gh" src="/img/logos/github-txt.svg">
                </a>
            </p>
        </div>
    </div>
</footer>